!!!
%html
  %head
    %title Homework
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      -flash.each do |key, value|
        =content_tag(:div, value, class: "alert alert-#{key}")
    = yield
    %footer.container
    =debug(params) if Rails.env.development?
